*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
body{
    background-color:azure ;
}

h1{
    color: aqua;
     display: flex;
    justify-content: center;
    margin: 10px;
}
p{
    color: brown;
    margin: 10px;
    font-size: 25px;
    display: flex;

    justify-content: center;
}
.con{
    display: flex;
    margin: 20px;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.box{
    border: 1px solid grey;
    display:flex;
    width: 100px;
    height:100px;
    flex-direction: row;
    margin: 6px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#b1{
    background-color: green;
}
#b2{
    background-color: yellow;
}
#b3{
    background-color: blue;
}
#b4{
    background-color: blueviolet;
}